extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main  
      h1 #{title}: #{category.name}
      p= category.lifespan

      if category_items.length > 0

        p #[strong Delete the following item instances before attempting to delete this category.]

        div(style='margin-left:20px;margin-top:20px')

          h4 Items

          dl
          each item in category_items
            dt
              //- a(href=item.url) #{item.item.name} (#{item.item._id})
              p #{item.name}

      else
        p Do you really want to delete this category?

        form(method='POST' action='')
          div.form-group
            input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

          button.btn.btn-primary(type='submit') Delete
