extends layout

block content

  h1 Category: #{title}

  h3 #{category.description}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each cat in category_items
        dt
          a(href=cat.url) #{cat.name}
        dd #{cat.description}

      else
        p This Category has no items

    hr
    p
      a(href=category.url+'/delete') Delete Category