extends layout

block content
    div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main  

      h1 Category: #{title}

      h3.delete-message #{category.description}

      div(style='margin-left:20px;margin-top:20px')

        dl
          each cat in category_items
            dt
              a(href=cat.url) #{cat.name}
            dd #{cat.description}

          else
            p This Category has no items

        hr
        div.button-container.category-button
          button
            a(href=category.url+'/delete') Delete Category
          button
            a(href=category.url+'/update') Update Category