extends layout

block content
  div.home-title-holder
    h1.home-title= title

  div.home-dashboard
    div.dashboard-main
      if error
        p Error getting dynamic content.
      else
        p.current-title Current Inventory Status
        div
          ul.dashboard-ul
            li.table-container  
              a.dashboard-item(href='/catalog/items') Items: 
              p !{data.item_count} 
            li.table-container  
              a.dashboard-item(href='/catalog/locations') Locations: 
              p !{data.location_count}
            li.table-container 
              a.dashboard-item(href='/catalog/categories') Categories: 
              p !{data.category_count}
            li.table-container 
              a.dashboard-item(href='/catalog/iteminstances') Inventory: 
              p !{data.item_instance_count}
