extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main    
      h1 Delete Item: #{item.name}
      p= item.lifespan

      if item_instances.length > 0

        p.delete-message Delete the following item instances before attempting to delete this item:

        div(style='margin-left:20px;margin-top:20px')

          dl
          each item in item_instances
            dt
              a(href=item.url) #{item.item.name} (#{item.location.name})

      else
        p.delete-message Do you really want to delete this item?

        form(method='POST' action='')
          div.form-group
            input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

          button.btn.btn-primary(type='submit') Delete
