extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main
      h2 Current Inventory

      ul.no-bullet
        li.detail-table.inventory-table
          p.table-header Item Name 
          p.table-header Location
          p.table-header Inv Number
        - iteminstance_list.sort(function(a, b) {let textA = a.item.name.toUpperCase(); let textB = b.item.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});    
        each val in iteminstance_list
          li.detail-table.inventory-table
            a(href=val.url) #{val.item.name}
            a(href=val.location.url) #{val.location.name}
            p.inventory-num #{val._id}

        else
          li There are no #{val.item.name} at this location. 

          
