extends layout

block content
  h1 #{title}: #{location.name}
  p= location.lifespan

  if location_items.length > 0

    p #[strong Delete the following item instances before attempting to delete this location.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Items

      dl
      each item in location_items
        dt
          a(href=item.url) #{item.item.name} (#{item.item._id})

  else
    p Do you really want to delete this location?

    form(method='POST' action='')
      div.form-group
        input#locationid.form-control(type='hidden',name='locationid', required='true', value=location._id )

      button.btn.btn-primary(type='submit') Delete
