extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main
      h2 #{title}: #{location.name}

      if location_items.length > 0

        p.delete-message Delete the following inventory items before attempting to delete this location.

        div(style='margin-left:20px;margin-top:20px')

          dl
          each item in location_items
            dt
              a(href=item.url) #{item.item.name} (Inv # #{item.item._id})

      else
        p Do you really want to delete this location?

        form(method='POST' action='')
          div.form-group
            input#locationid.form-control(type='hidden',name='locationid', required='true', value=location._id )

          button.btn.btn-primary(type='submit') Delete
