extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main

      h2 Inventory Management for the <span class='delete-message'>#{title}</span> store:

      div(style='margin-left:20px;margin-top:20px')

        ul
          li.detail-table
            p.table-header Item Name 
            p.table-header Price
          - location_items.sort(function(a, b) {let textA = a.item.name.toUpperCase(); let textB = b.item.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});  
          each val in location_items
            li.detail-table
              a(href=val.url) #{val.item.name} 
              p.location-price $#{val.item.price}

          else
            p This Location has no items

      hr
      div.button-container 
        button
          a(href=location.url+'/delete') Remove Store
        button
          a(href=location.url+'/update') Update Store Details
        button
          a(href='/catalog/iteminstance/create') Add Item to Store
